<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="common">
        <div class="ft_top">
            <div class="top_left">
                <a th:href="@{/}" class="ft_logo">
                    <img th:src="@{/front/images/ft_logo.png}">
                </a>
            </div>

            <div class="top_right">
                <ul>
                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{회사소개}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{사업내용}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{제휴안내}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{이용약관}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{개인정보처리방침}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{이메일무단수집거부}"></th:block>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/}">
                            <th:block th:text="#{고객센터}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ft_mid">
            <div class="mid_left">
                <p>
                    <th:block th:text="#{주소}"></th:block>
                </p>
                <ul>
                    <li>
                        <th:block th:text="#{대표이사}"></th:block>
                    </li>

                    <li>
                        <th:block th:text="#{개인정보관리책임자}"></th:block>
                    </li>

                    <li>
                        <th:block th:text="#{사업자등록번호}"></th:block>
                    </li>
                </ul>
            </div>

            <div class="mid_right">
                <ul>
                    <li class="sns insta">
                        <a th:href="@{/}"></a>
                    </li>

                    <li class="sns youtube">
                        <a th:href="@{/}"></a>
                    </li>

                    <li class="sns twitter">
                        <a th:href="@{/}"></a>
                    </li>

                    <li class="sns tiktok">
                        <a th:href="@{/}"></a>
                    </li>

                    <li class="sns shop">
                        <a th:href="@{/}"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ft_bot">
            
        </div>
    </footer>
</html>